node_modules/
Server/dist/
Server/build/
.env
.vscode/
Server/.env
Server/uploads/
client/.env
client/.env.local
client/.env.development
client/.env.production
client/build/
client/dist/
client/public/
client/src/assets/
